<div class="home">
  <form [formGroup]="brand">
    <div class="form">
      <div class="formLabel">
        <h3>Brand Name</h3>
      </div>
      <div class="formField">
    <mat-form-field appearance="fill">
      <mat-label>Choose Brand name</mat-label>
    <mat-select class="select">
      <mat-option value="Tesla">Tesla</mat-option>
      <mat-option value="Google">Google</mat-option>
      <mat-option value="Apple">Apple</mat-option>
    </mat-select>
    </mat-form-field>
      </div>
    </div>
  </form>

</div>
